<a href="https://colab.research.google.com/github/minjimoon0012/repforML/blob/main/Week3_colab_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
df =pd.DataFrame([
     {"Name": "유도현", 'Hobby': 'Movies', 'Nationality': 'South Korea', 'Number': 23},
     {'Name': "장은석", 'Hobby': 'Games', 'Nationality': 'South Korea', 'Number': 3},
     {'Name': '문민지', 'Hobby': 'Reading', 'Nationality' : 'South Korea', 'Number': 13}
])
df

  Name    Hobby  Nationality  Number
0  유도현   Movies  South Korea      23
1  장은석    Games  South Korea       3
2  문민지  Reading  South Korea      13

In [19]:
df.index = [1,2,3]
df_index = df.index
df_index.values
df

  Name    Hobby  Nationality  Number
1  유도현   Movies  South Korea      23
2  장은석    Games  South Korea       3
3  문민지  Reading  South Korea      13

In [21]:
df.Number.sum()

39

In [22]:
df.Number.mean()

13.0

In [23]:
df.Number.min()

3

In [24]:
df.Number.max()

23

In [17]:
df.to_csv('output.csv', index=False)